
:root {

    /* --main-bg-color: #afbcc5; */
    /* --alt-bg-color: #92a8b6; */
    /* --alt-bg-color: #455763; */
    /* --alt-bg-color2: #e4f2fd; */
    /* --piping-color: #26293c; */
    --max-width: 1800px;

    --main-bg-color: #748fac;
    --alt-bg-color: #313b45;
    --alt-bg-color2: #e2e2e2;
    --piping-color: #1f220f;

}


html {
    display: flex;
    justify-content: center;
    font-family: "Verdana", "Geneva", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: 'Roboto Slab'; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: auto; */
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    
}

.bodytop {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    min-height: 95vh;
    margin: 0 auto;
    padding: 0;
    max-width: var(--max-width);
}

.leftsidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 20%;
    background-color: var(--alt-bg-color2);
    border-right: solid 1px var(--piping-color);
}

.picbox {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 0 var(--piping-color); 
    width: 100%;
    height: calc(100vw / 7);
    max-height: 250px;
}

.headshot {
    height: 90%;
    width: auto;
}

.aboutme {
    display: flex;
    width: 80%;
    font-size: .9em;   
    margin: auto;
    margin-top: 1em;
}


.rightside {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* height: auto; */
}

header {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: calc(100vw / 7);
    max-height: 250px;
}

img.top {
    width: 100%;
    /* object-fit: scale-down; */
    padding: 0;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 100%;
    height: auto;
}

article > p {

    max-width: 70ch;
    margin: auto;
    height: auto;
    padding-bottom: 1em; 
    padding-left: 2.5em;
    padding-right: 2.5em;   
}

.footerText {
    padding: 0;
}

.headers {
    max-width: 70ch;
    margin: auto;
    height: auto;
}


footer {
    background: var(--main-bg-color);
    display: flex;
    width: 100%;
    max-width: var(--max-width);

    margin-top: auto;
    justify-content: center;
    align-content: center;
    border-top: 1px solid var(--piping-color);
    font-size: 1.5vh;
    /* min-height: 5vh; */
    height: 5vh;
    
}


.navBar {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    /* border-left: 1px solid black; */
    /* margin-top: 0;
    border-collapse: collapse; */
    border-spacing: 0;
    /* background-color: var(--main-bg-color); */
}

a.nounder {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    color: inherit;
    overflow: hidden;
}

/* Table cell formatting */
/* outline: solid black 1px; */
th {
    width: 20%;
    height: 1.5em;
    border-style: solid;
    border-width: 1px;
    border-right-width: 0px;
    border-color: var(--piping-color);
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

th.farleft {
    width: 20%;
    height: 1.5em;
    border-left-width: 0px;
    border-color: var(--piping-color);
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
}

.tabs {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--main-bg-color);
    border: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}

.activeTab {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--alt-bg-color);
    color: var(--alt-bg-color2);
    border: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.email:hover {
    color: rgb(10, 179, 10);
    font-style: italic;
}

a.email {
    color: rgb(66, 66, 223);
}

.tabs:hover {
    background-color: var(--alt-bg-color);
    color: var(--alt-bg-color2);
    font-weight: bold;
}

.cv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}